* {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  margin-top: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
  margin-top: 50px;
  margin-bottom: 70px;
}

input {
  font-size: large;
  text-align: center;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  font-size: calc(10px + 2vmin);
  background-color: #e7c710;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 25px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form, p {
  font-size: calc(10px + 2vmin);
  font-family: 'Courier New', Courier, monospace;
}